
/* general */
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  background-image: url("../img/universe.jpg") ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  margin-top: 4%;
  position: relative;
  font-family: Futura, Helvetica, Arial, sans-serif;
}
p{
  font-size:1.2em;
}
.index{
  color: white;
}
/* home */
/* .carousel{
  margin:0 -15px;
} */
.carousel-caption{
  margin-top: 0;
}
/* about */
#about{
  margin-bottom: 100px;
}
.header {
  text-align: center;
  margin:20px 30px;
}
.intro, .skills{
  padding: 0 20px;
}
.image img, .Project img{
  width: 90%;
}
.main-text{
  padding-top: 60px;
  clear: both;
}
.skills h3{
  text-transform: uppercase;
  text-align:center;
}
.skills{
  background-color:#392344;
}
#skill-list{
  margin-left: 15%;
}
#skill-list li{
  list-style-type: none;
}
#skill-list li:hover >span{
  color:black;
  font-size: larger;
}
#skill-list span{
  transition: font-size, color 500ms;
}
/* faq */
.faq-header{
  float: left;
  text-align: left;
}
.modal-button{
  float: right;
  padding: 15px;
}
.modal-content{
  color: black;
}
#faq{
  background-image: url("../img/ask.jpg");
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 100px;
  height: 600px;
}
#accordion .panel-heading{
  background-color: #392344;
  color: white;
}
.panel-body {
  background-color: #8973a8;
}
#modalembed{
  height:500px;
  width: 100%;
  padding: 10px;
}
/* work */
#work{
  background-image: url("../img/lightning.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 100px;
  height: 600px;
}
.project img{
  max-width: 350px;
}
/* contact */
#contact{
  background-color: #392344;
  /* margin-top: 100px; */
  padding-bottom: 80px;
  margin: auto;
}
#contact p{
	margin-left: 10px;
	font-size:18px;
	line-height:1.6em;
}
#contact .row{
  margin-left: 10px;
}
/* footer */
.foot{
  width: 100%;
  background-color:#101010;
  margin-bottom: 0;
}
.copyright{
  float: left;
  display: inline;
  margin-left: 20px;
}
.social{
  float: right;
  display: inline;
}
.fa{
  padding: 15px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  background: #3B5998;
  color: white;
}
.fa-linkedin{
  background: #283e4a;
}
.fa-whatsapp{
  background:#1ebea5;
}
 /* calculater */
.calculater{
  margin: 0 auto;
  width: 50%;
}
.calculater h1{
  text-align: center;
}
#textbox input{
  width: 100%;
}
/* Typography */
p, li {
  font-family: Georgia, Courier, serif;
}
.intro p{
  font-family:'Indie Flower', cursive;
  font-weight: 300;
  text-shadow: 4px 4px 4px #aaa;
  -webkit-margin-before: 0;
}
